{% extends 'base.html.twig' %}

{% block body %}
    <section class="header">
        <div class="container">
            <div class="headerBody">
                <img src="/images/innoraft-logo-removebg-preview.png" class="logo" />
                <div class="rightsideheader">
                    <ul>
                        <li>
                            <a href="/">Home</a>
                        </li>
                        <li>
                            <a href="/available">Avability</a>
                        </li>
                        <li>
                            <a href="/ticket">Tickets</a>
                        </li>
                        <li>
                            <a href="/generate">Generate Ticket</a>
                        </li>
                        <li>
                            <a href="/release">Release slot</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </section>
{% endblock %}