{% extends 'base.html.twig' %}

{% block body %}
    {% include 'main/header.html.twig' %}
    <div class="loginbox signup">
        <form method="post" id="Rel">
            <span id="error" style="color:red;"></span><br>
            <input type="text" name="vehicleNumber" placeholder="Vehicle Number" id="vehicleNum" />
            <select name="type" id="type">
                <option value="none" selected disabled hidden>Type Of Vehicle</option>
                <option value="2-wheeler">2-wheeler</option>
                <option value="4-wheeler">4 wheeler </option>
            </select>
            <input type="submit" value="Relese" id="relese" />
        </form>
    </div>
{% endblock %}